@model IEnumerable<GEA.Back_end.Companies.Models.Company>

@{
    ViewBag.Title = "Lista";
}

<h2>Empresas Cadastradas</h2>

<p>
    @Html.ActionLink("Cadastrar Nova Empresa", "Save")
</p>
<table class="table table-striped">
    <tr>
        <th>NOME</th>
        <th>CNPJ</th>
        <th>DATA DE CRIAÇÃO</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cnpj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedWhen.Date)
        </td>
        <td>
            @Html.ActionLink("Editar", "Update", new { id=item.Id }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
